@media (max-width: 1000px) {
  html {
    font-size: 55%;
  }

  .container {
    max-width: 80rem;
  }

  .nav-link:link,
  .nav-link:visited {
    padding: 2.4rem 2.4rem;
  }

  .chevron {
    min-width: 2.4rem;
  }
}

/* TABLET */
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .container {
    max-width: 70rem;
  }

  .nav-link:link,
  .nav-link:visited {
    padding: 2.4rem 1.6rem;
  }

  .project-container {
    width: 100%;
  }

  .project {
    /* width: 12rem; */
    border-radius: 9px;
  }

  .chevron {
    min-width: 2rem;
  }
}

@media (max-width: 556px) {
  html {
    font-size: 45%;
  }

  .container {
    max-width: 60rem;
  }

  .nav-list {
    gap: 6.4rem;
  }

  .hamburger {
    display: block;
  }

  .nav-link:link,
  .nav-link:active {
    display: none;
  }

  .hero-title {
    font-size: 3rem;
  }

  .about-me-desc,
  .section-contact {
    font-size: 2.2rem;
  }

  .project {
    /* width: 10rem; */
  }

  footer {
    font-size: 1.6rem;
  }
}

/* MOBILE */
@media (max-width: 425px) {
  html {
    font-size: 40%;
  }

  .nav-list {
    gap: 4.8rem;
  }

  .hero-title {
    font-size: 2.4rem;
  }

  .about-me-img {
    float: none;
    display: block;
    margin: 0 auto 4.8rem;
  }

  .project {
    /* width: 10rem; */
  }

  .contact-container {
    grid-template-columns: 1fr;
    gap: 9.6rem;
  }

  .info-box {
    gap: 1.6rem;
  }

  .chevron {
    min-width: 2.4rem;
  }

  .about-me-desc,
  .section-contact {
    font-size: 2.4rem;
  }

  .chevron {
    display: none;
  }

  /* .projects-container {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }

  .project {
    width: auto;
    height: 20rem;
  } */

  footer {
    font-size: 1.8rem;
  }
}
