/* 
  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

  #ff5e5b
  #d8d8d8
  #ffffea
  #00cecb
  #ffed66
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trispace", sans-serif;
  background-color: #ff5e5b;
  color: #d8d8d8;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: 4fr 3fr 2fr;
}

.main {
  /* grid-column: 1; */
}

header {
  display: flex;
  justify-content: space-around;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.profile-picture {
  /* grid-row: 1 / span 2; */
}

.projects {
  grid-column: 1 / -1;
}

aside {
  /* grid-column: 3; */
  /* grid-row: 1; */
}

a:link,
a:visited {
  text-decoration: none;
  color: #d8d8d8;
}

a:hover,
a:active {
  background-color: #ffed66;
  color: #ff5e5b;
}

.item-logo {
  width: 14px;
}
