/* 
  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
 */

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLORS */
:root {
  --primary-color-1: #00120b;
  --primary-color-2: #002919;
  --primary-color-3: #003d26;
  --grey-1: #f8f9fa;
  --grey-2: #f1f3f5;

  --secondary-color-1: #35605a;
  --secondary-color-2: #6b818c;
  --secondary-color-3: #d8e4ff;
  --secondary-color-4: #31e981;

  --footer-height: 9.6rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  /* height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr; */
}

h2 {
  font-family: "Lora", serif;
  font-size: 3.6rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 4.8rem;
}

/* HEADER (DUH) */
.header {
  color: var(--grey-1);
  background-color: var(--primary-color-1);
}

.header .container {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 2.4rem;
  font-family: "Lora", serif;
  font-weight: 700;
  text-transform: lowercase;
  margin-right: auto;
  padding: 1.6rem 3.2rem;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.nav-link:link,
.nav-link:visited {
  font-size: 1.4rem;
  color: var(--grey-1);
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2.4rem 4.8rem;
  transition: background-color 0.3s;
}

.nav-link:hover,
.nav-link:active {
  background-color: var(--secondary-color-1);
}

/* HERO SECTION */
.section-hero {
  height: 100%;
  background-color: var(--primary-color-1);
  color: var(--grey-1);
}

.section-hero .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.video-itself {
  width: 75%;
  /* height: 50vh; */
  border-radius: 25px;
}

.hero-title {
  font-family: "Lora", serif;
  font-size: 4.4rem;
  font-weight: 500;
  color: var(--grey-1);
  transform: translateX(50%);
}

/* ABOUT ME SECTION */
.section-about-me {
  background-color: var(--grey-1);
  color: var(--primary-color-1);
  padding: 9.6rem 0;
}

.about-me-img {
  float: left;
  margin: 0 3.2rem 3.2rem 0;
}

.about-me-desc {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

/* CONTACT ME SECTION */
.section-contact {
  background-color: var(--primary-color-1);
  color: var(--grey-1);
  padding: 9.6rem 0;
}

/* PROJECTS SECTION */
.section-projects {
  background-color: var(--grey-1);
  color: var(--primary-color-1));
  font-family: "Lora", serif;
  padding: 9.6rem 0;
}

.projects-title {
  margin-bottom: 8rem;
}

.projects-container {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  padding: 0 1.6rem;
}

.project-img {
  width: 100%;
  border-radius: 25px;
}

.project-img:not(.project--active) {
  opacity: 0.7;
}

.project--active {
  transform: scale(1.25);
  box-shadow: 0 1.6rem 2.4rem 0 rgba(0, 0, 0, 0.25);
}

.chevron {
  min-width: 3rem;
  stroke: var(--primary-color-1));
  cursor: pointer;
  border: 1px solid var(--primary-color-1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3.2rem;
}

.chevron--right {
  right: 0;
}

/* FOOTER */
.footer-placeholder {
  height: var(--footer-height);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: var(--footer-height);
  font-size: 1.4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--grey-1);
  background-color: var(--primary-color-1);
}

.social {
  display: block;
}

.github-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.github-link:link,
.github-link:visited {
  text-decoration: none;
  color: var(--grey-1);
}

.github-link:hover,
.github-link:active {
  color: var(--grey-2);
  transition: color 0.3s;
}

.github-icon {
  stroke: var(--grey-1);
}
